@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
	scrollbar-width: auto;
	scrollbar-color: #afb2bf;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 2px;
}
*::-webkit-scrollbar-track {
	background: transparent;
}
*::-webkit-scrollbar-thumb {
	background: #caccd4;
	border-radius: 10px;
	visibility: hidden;
}
*:active::-webkit-scrollbar-thumb,
*:focus::-webkit-scrollbar-thumb,
*:hover::-webkit-scrollbar-thumb {
	visibility: visible;
}

/* hide arrow keys in input field */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.spinner2 {
	width: 56px;
	height: 56px;
	border: 11.2px rgb(37, 99, 235) double;
	border-left-style: solid;
	border-radius: 50%;
	animation: spinner-aib1d7 0.75s infinite linear;
}

@keyframes spinner-aib1d7 {
	to {
		transform: rotate(360deg);
	}
}

.wrapper {
	visibility: hidden;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgb(225, 236, 255);
	opacity: 0;
	position: absolute;
	inset: 0;
	z-index: 1000;
	animation: logoZoom 1s ease-in 1;
}
@keyframes logoZoom {
	0% {
		display: flex;
		visibility: visible;
		opacity: 100;
	}
	50% {
		opacity: 100;
		transform: scale(1, 1);
		filter: blur(0px);
	}
	90% {
		transform: scale(5, 5);
		filter: blur(5px);
		opacity: 0;
	}
	100% {
		display: none;
	}
}

.title {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 30%;
	width: 200px;
	height: 200px;
	padding: 120px;
	color: white;
	font-weight: 500;
	background-color: rgb(44, 85, 219);
	filter: drop-shadow(5px 5px 10px #00000065);
}


.react-player {
	position: absolute;
	top: 0;
	left: 0;
  }